

.background{
   background-color: #16161a;
background-repeat: no-repeat;
background-size: cover;
}

ul{
    list-style: none;
    
}

h1{
color: white;    
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
background-color: #7f5af0;
}

/*.div{
    text-align: center;
    margin: auto;
   

}*/

.menu{
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    
}
.menu li{
    display: inline-block;
    text-align: center;
    color: blue;
}

.inicio{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#7f5af0;
}

footer{
    background-color:#7f5af0;
}

.menu li a:hover{
background: #7f5af0;
}